# Documentation : https://github.com/fastapi/fastapi/blob/master/.gitignore

.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage*
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
site_build
docs.zip
archive.zip

# My python virtual environment directory :
venv

# Notes and configurations directory :
notes

# vim temporary files
*~
.*.sw?
.cache

# macOS
.DS_Store